.form-ant {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.form {
    width: 35%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#ReactInputMask {
    border: 1px solid lightgray;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    text-indent: 10px;
    outline: #4682B4;
}

#ReactInputMask:hover {
    border: 1px solid #4682B4;
}

.cep-input {
    width: 250px;
}

.city-input {
    width: 150px;
}

.uf-input {
    width: 80px;
}